<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <h1>현재 작성된 할일 목록 수 : {{todos.length}}</h1>
    <h2>완료된 todo 목록 수 : {{todos.filter(todo => todo.completed).length}}</h2>
    <h2>완료된 todo 목록 수(completed) : {{completedTodosCount}}</h2>
    <article id="todo-list" v-if="isLogin">
      <!-- 요소 반복 -->
      <div class="card" v-for="todo in todos" :key="todo.id" :class="{done: todo.completed}" @click="goDetail(todo)">
        <p>{{todo.title}}</p>
        <p>{{todo.completed}}</p>
      </div>
    </article>
    <!-- model창 만들기 -->
    <!-- v-if는 특정 조건 만족 안하면 렌더링 자체를 안함 -->
    <!-- 즉 렌더링 단계에서부터 결정되는 과정이기에 우선수위가 젤 높음 -->
    <section v-show="todo" class="detail" >
      <button @click="todo=false">X</button>
      <h1>{{todo.id}} | {{todo.title}}</h1>
      <p>{{todo.completed}}</p>
      <!-- 댓글 보여주기 -->
        <ul>
          <li v-for="comment in detailComputedComments" :key="comment.id">
            <p>{{comment.id}} | {{comment.body}}</p>
          </li>
        </ul>
    </section>

    <!-- js 부정형 = ! -->
    <article id="login-form" v-if="!isLogin">
      {{username}}
      <form @submit.prevent="login">
        <label for="username">username: </label>
        <input type="text" id="username" required v-model="username">
        <label for="password">password: <s></s></label>
        <input type="password" id="password"  required v-model="password">
        <input type="submit" value="LOGIN">
      </form>
    </article>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const { createApp, ref, onMounted, computed, watch } = Vue
    const app = createApp({
      setup() {
        // todo 목록 더미 데이터
        const todo = ref(false)
        const todos = ref([
          {
            id: 1,
            title: 'first title',
            completed: false
          },
          {
            id: 2,
            title: 'second title',
            completed: true
          }
        ])

        const goDetail = function(item) {
          todo.value = item
        }

        const comments = ref([])
        const detailComputedComments = computed(() => {
          return comments.value.filter(comment => comment.postId === todo.value.id)
        })

        // 1번째 인자 todo = 감시대상
        // 2번째 인자 => callBack Function 감시대상의 새로운 값, 변경된 값
        watch(todo, (newVal, oldVal) => {
          console.log(newVal, oldVal, 'old')
        })
 
        // JS함수는 호출방식에 따라 this가 달라짐
        onMounted(() => {
          axios({
            method: 'get',
            url: 'https://jsonplaceholder.typicode.com/todos',
          })
            .then(res => {
              console.log(res)
              todos.value = res.data.slice(0, 10)
            })
            .catch(err => console.log(err))
          axios({
            method: 'get',
            url: 'https://jsonplaceholder.typicode.com/comments'
          })
            .then(res => {
              comments.value = res.data
            })
            .catch(err => console.log(err))
        })

        // const completedTodosCount = function() {
        //   const result = todos.value.filter(function (todo) {
        //     return todo.completed === true
        //   })
        //   console.log('method is called!!')
        //   return result.length
        // }
        const completedTodosCount = computed(() => {
          console.log('computed is called!!')
          return todos.value.filter(todo => todo.completed).length
        })
        const username = ref('')
        const password = ref('')
        const isLogin = ref(false)
        const login = function() {
          if(username.value.trim() && password.value.trim()){
            if(username.value.length > 12) {
              alert('username은 12글자 이하로 작성해주세요')
              return 
            }
            isLogin.value = true
          } else{
            alert('아이디와 비번 입력해 주세요')
          }
        }
        return {
          todos,
          todo,
          goDetail,
          completedTodosCount,
          comments,
          detailComputedComments,
          isLogin, username, password, login
        }
      }
    })
    app.mount('#app')
  </script>
</body>
</html>